*.class

/target/
/out/

*.log
/logs/

/.mvn/
!/.mvn/wrapper/maven-wrapper.jar

.gradle/
/build/
/!gradle-wrapper.jar

*.war
*.jar

/.idea/
/*.iml
/modules.xml
/*.ipr
/*.iws

/.settings/
/.classpath
.project

.DS_Store
Thumbs.db

*.swp
*.swo
*.tmp
*.Ist